body{
    font-family: $font-family;
    
    header{
        background-image: url("../img/9cd45d3e17e1d5bb3777cf48cbaf6374.jpg");
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: $font-family;
        
        

             a{
                color: $color-font;   
            }
        }

    }
    .navbar-black{
        background-color: $primary-color;
         transition: 2s;
         margin-bottom: 200px;
    }


.text-inicio-main{
    margin-top: 200px;
    background-color: rgba(127, 195, 197, 0.541);
    text-align:center;
    font-size: $font-size;
    border: 2px solid black;
    height: max-content;
    font-family: $font-family;
}


    .text-footer{
    text-align: center;
    font-family: $font-family;
    
    
}

.redes{
    text-align: center;
    background-color: black;
    
}
.copyright{
    text-align: center;
    color: gray;
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 10px;
    }
    .redes a{
        color: white;
        font-size: 20px;
    }
.img-border{
    border: solid 1px black;
    height: max-content;
    width: max-content;
}
header{
    grid-area: header;
}
.left{
    grid-area: left;
}
.right{
    grid-area: right;
}
footer{
    grid-area: footer;
}