.text-nosotros-main{
    background-color: rgb(0, 0, 0);
    text-align:center;
    color: white;
    font-size: $font-size;
    height: max-content;
    padding: 3rem;
    height: max-content;
    font-family: $font-family;
    border: 2px solid rgb(230, 0, 0);
}