.text-productos-main{
    background-color: rgba(243, 0, 0, 0.705);
    text-align:center;
    font-size: $font-size;
    height: max-content;
    padding: 3rem;
    height: max-content;
    font-family: $font-family;
    border: 2px solid black;
}